
.main {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.header{
	display: flex;
	justify-content: center;
}
.pack-container {
	flex: 1;
	display: flex;
	overflow: auto;
	//flex-wrap: wrap;
	justify-content: center;
}

.box {
	display: flex;
	min-height: min-content;
}


.pack-container::-webkit-scrollbar{
    width: 0.25rem;
}

.pack-container::-webkit-scrollbar-track{
    background: #1e1e24;
}

.pack-container::-webkit-scrollbar-track{
    background: #6649b8;
}

.pack-container hr {
	flex-basis: 100%; 
	height: 0; 
	margin: 0; 
	border: 0;
}

.pack-image {
	transition: opacity 0.5s ease-out;
	margin-left: 10rem;
	margin-right: 10rem;
}

.pack-image:hover {
	opacity: 0.5;
}


.table-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    overflow: auto;
    height: 600px;
}

table {
	width: 800px;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  /*
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*.card-container hr {
	flex-basis: 100%; 
	height: 0; 
	margin: 0; 
	border: 0;
}


.card {
	position: relative;
	width: 260px;
	height: 390px;
	text-transform: uppercase;
}

.card-color {
	color: #46390c;
	background-repeat: no-repeat;
	background-size: 285px 394px;
	background-position: center;
}

.face {
	position: absolute;
	overflow: hidden;
	right: 22px;
	top: 47px;
	width: 155px;
	height: 155px;
}

.face-inner {
	position: absolute;
	top: 0;
	right: 0;
}

.face-inner img {
	height: 155px;
}

.badge {
	position: absolute;
	top: 157px;
	left: 47px;
	z-index: 11;
}

.badge-img {
	width: 38px;
}

.flag {
	position: absolute;
	top: 120px;
	left: 50px;
	z-index: 11;
}

.flag-img {
	width: 36px;
}

.card-name {
	font-family: dinProBold;
	font-size: 28px;
    position: absolute;
    top: 215px;
    left: 20px;
    width: 218px;
	height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    z-index: 11;
}

.card-rating {
	font-family: dinProBold;
	font-size: 40px;
    position: absolute;
    top: 70px;
    left: 45px;
    width: 50px;
    text-align: center;
    z-index: 11;
}

.card-position {
	font-family: dinProRegular;
	font-size: 22px;
    position: absolute;
    top: 95px;
    left: 45px;
    width: 50px;
    text-align: center;
    z-index: 11;
}

.card-atts {
	font-family: dinProBold;
    position: absolute;
    top: 238px;
    left: 56px;
    z-index: 11;
}

.card-attnum {
	font-size: 24px;
}

.card-attlabel {
	font-family: dinProRegular;
	font-size: 24px;
	top: 1px;
}

.card-atts1 {
	position: absolute;
    top: 1px;
}

.card-atts2 {
	position: absolute;
	top: 25px;
}

.card-atts3 {
	position: absolute;
	top: 50px;
}

.card-attnum1, .card-attnum2, .card-attnum3 {
	position: absolute;
}

.card-attlabel1, .card-attlabel2, .card-attlabel3 {
	position: absolute;
	left: 22px;
}

.card-attnum4, .card-attnum5, .card-attnum6 {
	position: absolute;
	left: 102px;
}

.card-attlabel4, .card-attlabel5, .card-attlabel6 {
	position: absolute;
	left: 125px;
}
*/

.card-container {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

.card-container hr {
	flex-basis: 100%; 
	height: 0; 
	margin: 0; 
	border: 0;
}


.card {
	position: relative;
	width: 260px;
	height: 390px;
	text-transform: uppercase;
}

.card-color {
	color: #46390c;
	background-repeat: no-repeat;
	background-size: 285px 394px;
	background-position: center;
}

.face {
	position: absolute;
	overflow: hidden;
	right: 22px;
	top: 47px;
	width: 155px;
	height: 155px;
}

.face-inner {
	position: absolute;
	top: 0;
	right: 0;
}

.face-inner img {
	height: 155px;
}

.badge {
	position: absolute;
	top: 157px;
	left: 47px;
	z-index: 11;
}

.badge img {
	width: 38px;
}

.flag {
	position: absolute;
	top: 120px;
	left: 50px;
	z-index: 11;
}

.flag img {
	width: 36px;
}

.card-name {
	font-family: dinProBold;
	font-size: 28px;
    position: absolute;
    top: 215px;
    left: 20px;
    width: 218px;
	height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    z-index: 11;
}

.card-rating {
	font-family: dinProBold;
	font-size: 40px;
    position: absolute;
    top: 70px;
    left: 45px;
    width: 50px;
    text-align: center;
    z-index: 11;
}

.card-position {
	font-family: dinProRegular;
	font-size: 22px;
    position: absolute;
    top: 95px;
    left: 45px;
    width: 50px;
    text-align: center;
    z-index: 11;
}

.card-atts {
	font-family: dinProBold;
    position: absolute;
    top: 238px;
    left: 56px;
    z-index: 11;
}

.card-attnum {
	font-size: 24px;
}

.card-attlabel {
	font-family: dinProRegular;
	font-size: 24px;
	top: 1px;
}

.card-atts1 {
	position: absolute;
    top: 1px;
}

.card-atts2 {
	position: absolute;
	top: 25px;
}

.card-atts3 {
	position: absolute;
	top: 50px;
}

.card-attnum1, .card-attnum2, .card-attnum3 {
	position: absolute;
}

.card-attlabel1, .card-attlabel2, .card-attlabel3 {
	position: absolute;
	left: 22px;
}

.card-attnum4, .card-attnum5, .card-attnum6 {
	position: absolute;
	left: 102px;
}

.card-attlabel4, .card-attlabel5, .card-attlabel6 {
	position: absolute;
	left: 125px;
}
